<!DOCTYPE html>

<html>

<head>
    <link rel="stylesheet" href="/css/style.css">


</head>

<body>

    <h1>{{>header}}</h1>
    <h4>created by {{ name}}</h4>

<form>
    <input placeholder="location">
    <button>submit</button>
    <p id="message1"></p>
    <p id="message2"></p>
</form>

<script>

const weatherreport = document.querySelector('form')

const valinput = document.querySelector('input')

const message1 = document.querySelector('#message1')
const message2 = document.querySelector('#message2')

weatherreport.addEventListener('submit', (e) => {
    e.preventDefault()
    const mainval = valinput.value
    debugger
      fetch('http://localhost:3000/weather?address='+mainval).then((response) => {
            response.json().then((data) => {
                if(data.error){
                    message1.textContent = data.error
                }else{
                   message1.textContent = data.location
                   message2.textContent = data.forecast
                       }
            })
      }) 
})



</script>
</body>

</html>